.card {
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;

    }

    .shadow {
        
    }
}