.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    img {
        
    }

    p {
        color: #ffffff;
        text-align: center;
    }
}