@import "../../styles/variables.scss";

.home-page {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 20px;
  @media screen and (min-width: $breakpoint-desktop) {
    padding: 0 30px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;

    @media screen and (min-width: $breakpoint-tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      background-color: $background;
      border-radius: 25px;
      padding: 35px;
    }
    @media screen and (min-width: $breakpoint-desktop) {
      grid-template-columns: repeat(3, 1fr);
    }

    img {
      height: 250px;
    }
  }
}
