@import "../../styles/variables.scss";

.collapse {
  width: 100%;
  background-color: $background;
  border-radius: 5px;
  justify-content: center;

  .collapse-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $primary;
    cursor: pointer;
    @media screen and (min-width: $breakpoint-desktop) {
      padding: 7px 10px;
    }

    h2 {
      color: #ffffff;
      margin: 0;
      font-size: 15px;
      @media screen and (min-width: $breakpoint-desktop) {
        font-size: 20px;
      }
    }

    .arrow {
      width: 25px;
      height: 25px;
      transition: transform 200ms ease-in-out;

      &--opened {
        transform: rotate(180deg);
        transition: transform 200ms ease-in-out;
      }
    }
  }

  .collapse-content {
    padding: 15px;
  }
}
