@import "../../styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 20px;
  @media screen and (min-width: $breakpoint-desktop) {
    padding: 30px;
  }

  .header-logo {
    width: 30%;
    height: auto;
    @media screen and (min-width: $breakpoint-tablet) {
      width: 20%;
    }
    @media screen and (min-width: $breakpoint-desktop) {
      width: 15%;
    }

    img {
      width: 100%;
    }
  }

  nav {
    display: flex;
    gap: 15px;
    font-weight: 500;
    @media screen and (min-width: $breakpoint-tablet) {
      gap: 30px;
    }
    @media screen and (min-width: $breakpoint-desktop) {
      gap: 50px;
    }

    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
      font-size: 12px;
      text-transform: uppercase;
      @media screen and (min-width: $breakpoint-tablet) {
        text-transform: none;
        font-size: 20px;
      }
    }
  }
}
