.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 15px;
    
    img {
        width: 100px;
        height: auto;
    }

    nav {
        display: flex;
        gap: 10px;
        font-weight: 500;

        a {
            text-decoration: none;
            color: black;
            cursor: pointer;
            font-size: 10px;
            text-transform: uppercase;
        }
    }
}